<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-register-dm">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `fotosocial-register-dm`
     * data manager to register new users
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialRegisterDm extends Polymer.Element {
      static get is() { return 'fotosocial-register-dm'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'fotosocial-register-dm'
          }
        };
      }
    }

    window.customElements.define(FotosocialRegisterDm.is, FotosocialRegisterDm);
  </script>
</dom-module>
